@page "/horizontals"

<AbsolutePanel @ref=absolutePanel
               Id="ParentPanel"
               AutoResize="true">
    <HorizontalSliderPanel @ref=horizontalPanel
                           Container=absolutePanel
                           ParentId="ParentPanel"
                           TopPanelId="TopPanel1"
                           BottomPanelId="BottomPanel1"
                           SliderHeight="10"
                           Width="absolutePanel.Width"
                           Height="absolutePanel.Height"
                           TopPanelHeight="400">
        <TopChildContent>
            <div id="TopPanel1" style="padding:10px;">
                <h3>Top Content</h3>
                This is a demo of a single horizontal slider panel.
            </div>
        </TopChildContent>
        <BottomChildContent>
            <div id="BottomPanel1" style="padding:10px;">
                <h3>Bottom Content</h3>
                <ul class="nav flex-column">
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                            <span class="oi oi-resize-width" aria-hidden="true"></span> Vertical
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="horizontals">
                            <span class="oi oi-resize-height" aria-hidden="true"></span> Horizontal
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="fourpanels">
                            <span class="oi oi-resize-both" aria-hidden="true"></span> 4 Panels
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="windowresize">
                            <span class="oi oi-resize-both" aria-hidden="true"></span> Percent Width
                        </NavLink>
                    </li>
                </ul>
            </div>
        </BottomChildContent>
    </HorizontalSliderPanel>
</AbsolutePanel>

@code
{
    AbsolutePanel absolutePanel { get; set; }
    HorizontalSliderPanel horizontalPanel { get; set; }
}

