@page "/"

<AbsolutePanel @ref=absolutePanel
               Id="ParentPanel"
               AutoResize="true">
    <VerticalSliderPanel @ref=verticalPanel
                         Container=absolutePanel
                         ParentId="ParentPanel"
                         LeftPanelId="LeftPanel1"
                         RightPanelId="RightPanel1"
                         SliderWidth="10"
                         Width="absolutePanel.Width"
                         Height="absolutePanel.Height"
                         LeftPanelStartingWidth="400">
        <LeftChildContent>
            <div id="LeftPanel1" style="padding:10px;">
                <h3>Left Content</h3>
                This is a demo of a single vertical slider panel.
            </div>
        </LeftChildContent>
        <RightChildContent>
            <div id="RightPanel1" style="padding:10px;">
                <h3>Right Content</h3>
                <ul class="nav flex-column">
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                            <span class="oi oi-resize-width" aria-hidden="true"></span> Vertical
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="horizontals">
                            <span class="oi oi-resize-height" aria-hidden="true"></span> Horizontal
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="fourpanels">
                            <span class="oi oi-resize-both" aria-hidden="true"></span> 4 Panels
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="windowresize">
                            <span class="oi oi-resize-both" aria-hidden="true"></span> Percent Width
                        </NavLink>
                    </li>
                </ul>
            </div>
        </RightChildContent>
    </VerticalSliderPanel>
</AbsolutePanel>

@code
{
    AbsolutePanel absolutePanel { get; set; }
    VerticalSliderPanel verticalPanel { get; set; }
}

