@page "/simple"

<AbsolutePanel @ref=absolutePanel
               Id="ParentPanel"
               AutoResize="true">
    <VerticalSliderPanel @ref=verticalPanel
                         Container=absolutePanel
                         ParentId="ParentPanel"
                         LeftPanelId="LeftPanel1"
                         RightPanelId="RightPanel1"
                         SliderWidth="10"
                         Width="absolutePanel.Width"
                         Height="absolutePanel.Height"
                         LeftPanelStartingWidth="400">
        <LeftChildContent>
            <div id="LeftPanel1" style="padding:10px;">
                <h3>Left Content</h3>
            </div>
        </LeftChildContent>
        <RightChildContent>
            <div id="RightPanel1" style="padding:10px;">
                <h3>Right Content</h3>
            </div>
        </RightChildContent>
    </VerticalSliderPanel>
</AbsolutePanel>

@code
{
    AbsolutePanel absolutePanel { get; set; }
    VerticalSliderPanel verticalPanel { get; set; }
}

