@inherits SliderPanelBase
@inject IJSRuntime js

<div id="@Id" style="@StyleString position:absolute;
    left:@LeftPx;
    top:@TopPx;
    width:@WidthPx;
    height:@HeightPx;">
    <CascadingValue Value=@this>
        @ChildContent
    </CascadingValue>
</div>

<Window WindowResized="OnWindowResized" />

@code {

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public bool AutoResize { get; set; } = false;

    [Parameter]
    public string StyleString { get; set; } = "";

    public SliderPanelBase ChildPanel { get; set; }

    /// <summary>
    /// This happens when the user resizes the browser
    /// </summary>
    /// <param name="size"></param>
    /// <returns></returns>
    async Task OnWindowResized(Size size)
    {
        if (AutoResize)
        {
            Width = size.Width - Left;
            Height = size.Height - Top;
        }
        if (ChildPanel != null)
        {
            ChildPanel.Resize();
        }
        await InvokeAsync(StateHasChanged);
    }
}
