<div id="@Id" class="noselect" style="padding:1vw;width:300px;">
    @ChildContent
</div>

@code {

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string Id { get; set; } = "DefaultId";

    [Parameter]
    public string WindowName { get; set; } = "";

    [Parameter]
    public string BackgroundColor { get; set; } = "";

}
